@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary {
  background-color: #0000FF;
}

.txt-primary {
  color: #0000FF;
}

.txt-white {
  color: #fff;
}

.poppins {
  font-family: 'Poppins', sans-serif !important;
}

.pointer {
  cursor: pointer;
}
.whatsapp-icon{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.categories-crackers{
  width: 280px;
  height: auto;
  margin: 20px;
  transition: .5s;
  cursor: pointer;
}
.categories-crackers:hover{
  width: 290px;
  height: auto;
  box-shadow: 1px 1px 20px #0000006c;
}
.giftbox-crackers{
  width: 310px;
  height: auto;
  margin: 20px;
  box-shadow: 0px 5px 10px #0000003e;
  transition: .5s;
  cursor: pointer;
}
.giftbox-crackers:hover{
  transform: rotateZ(10deg);
}
.linethrough{
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.ant-modal-body{
  overflow-x: scroll;
}